.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--background-color);
    z-index: 1000;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.data_section {
    flex-grow: 1;
    overflow: auto;
}

.close_panel {
    animation-name: fadeOut;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-delay: 100ms;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        /* transform: translate(-100vw, 0); */
    }

    to {
        opacity: 100;
        /* transform: translate(0, 0); */
    }
}

@keyframes fadeOut {
    from {
        opacity: 100;
        /* transform: translate(0, 0); */
    }

    to {
        opacity: 0;
        /* transform: translate(-100vw, 0); */
    }
}