nav.nav {
    display: flex;
    height: 72px;
    align-items: center;
    padding: 0px 160px;
}

.page_layout {
    height: calc(100vh - 150px);
    overflow-y: auto;
    overflow-x: hidden;
}

.nav_list,
.icons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.nav_list>ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.nav_item {
    list-style: none;
    padding: 0px 15px;
    position: relative;
}

.home_active {
    --currentX: 24px;
    --currentY: 11px;
    --width: 42px
}

.portfolio_active {
    --currentX: 96px;
    --currentY: 11px;
    --width: 65px
}

.about_active {
    --currentX: 194px;
    --currentY: 11px;
    --width: 42px
}

.nav_list>ul::before {
    content: '';
    height: 16px;
    width: var(--width);
    background: var(--accent-color-40);
    position: absolute;
    z-index: -1;
    transition: 200ms;
    transform: translate(var(--currentX), var(--currentY));
}


.copyright {
    font-size: 14px;
}

.footer {
    padding: 0px 160px;
    display: flex;
    height: 64px;
    align-items:flex-start;
}

.icons {
    column-gap: 16px;
}

.icon_circle {
    background: var(--base-color);
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background-color);
    border-radius: 100%;
}

.icon {
    height: 18px;
}

.icon_circle:hover {
    transform: scale(1.2);
    cursor: pointer;
}