.project_thumbnail {
    display: flex;
    position: relative;
    height: 100%;
    width: 90%;
}

.project_indx {
    font-family: 'Limelight', cursive;
    font-size: 32px;
    position: absolute;
    transform: rotate(-90deg);
    top: 15px;
}

.project_details {
    position: relative;
    margin-left: 50px;
    display: flex;
    flex: 1;
}

.image_container {
    position: relative;
    height: 90%;
    max-width: 94%;
    flex: 4;
}

.project_description {
    z-index: 1;
    position: absolute;
    bottom: 0px;
    right: 0px;
    max-width: 350px;
    background: var(--base-color-transprent);
    padding: 30px;
    border-radius: 10px;
    color: #fff;
}

.project_description > .para {
    color: #fff;
}


@media only screen and (max-width: 768px) {
    .project_thumbnail {
        flex-direction: column;
        max-width: 100%;
        width: 100%;
    }
    .project_indx {
        position: relative;
        transform: rotate(0);
        top: unset;
    }
    .image_container {
        height: 300px;
        flex: 0;
        width: 100%;
        max-width: 100%;
    }
    .project_details {
        display: block;
        margin: 0;
    }
    .project_description {
        position: relative;
        top: unset;
        bottom: unset;
        right: unset;
        max-width: 100%;
        border-radius: 0;
        padding: 30px;
    }
}


@media only screen and (max-width: 600px) {
    .project_thumbnail {
        flex-direction: column;
        max-width: 100%;
        width: 100%;
    }
    .project_indx {
        position: relative;
        transform: rotate(0);
        top: unset;
    }
    .image_container {
        height: 300px;
        flex: 0;
        width: 100%;
        max-width: 100%;
    }
    .project_details {
        display: block;
        margin: 0;
    }
    .project_description {
        position: relative;
        top: unset;
        bottom: unset;
        right: unset;
        max-width: 100%;
        border-radius: 0;
        padding: 20px;
    }
}