.layout {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    padding: 30px 0px;
    height: 100%;
    
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.carousel_container {
    flex: 1;
    display: flex;
    overflow:hidden;
    /* column-gap: 80px; */
    padding-left: 160px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding:0px 160px;
}

.nav_icons {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--base-color-20);
    cursor: pointer;
}

.nav_icons:hover {
    box-shadow: 0px 0px 0px 4px var(--accent-color-40);
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

@media only screen and (max-width: 1024px) and (max-height: 768px) { 
    .carousel_container {
        padding: 0 60px;
    }
}


@media only screen and (max-width: 768px) {
    .layout {
        padding: 0;
    }
    .navigation {
        display: none;
    }
    .carousel_container {
        padding: 20px;
        flex-direction: column;
        overflow: auto;
        row-gap: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .layout {
        padding: 0;
    }
    .navigation {
        display: none;
    }
    .carousel_container {
        padding: 20px;
        flex-direction: column;
        overflow: auto;
        row-gap: 20px;
    }
}

/* @media (min-width:320px)  { 
   
} */
