@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Open+Sans:wght@300;400;600&display=swap');

:root {
  --background-color: #ffffff;
  --base-color: #0A1332;
  --base-color-transprent: #0a1332c9;
  --accent-color: #9BFAF3;
  --text-color: #0A1332;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p,
h1, li {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color);
  font-weight: lighter;
}



::-webkit-scrollbar {
  display: none;
}